.contenedor{
    background-color: inherit;
    
}

.contenedorback{
    background-color: palevioletred;
    width: 190px;
    height: 40px;
   margin-bottom: 15px;
    border-radius: 20px;
    border: 2px solid pink;
    padding: 5px;
align-items: center;
align-self: center;
margin-left: 10px;
justify-self: center;
    

}

.back{
    color: black;
    align-self: center;
    text-align: center;
    text-decoration: none;
}

.contenedorForm{
   
    display: flex;
    justify-content: space-around;
    
    background: url(/images/fondoregister.png);
    height: auto;
    margin-left: 0;
    margin-top: -10px;

}

.form {
    background-color: whitesmoke;
    margin: 80px auto;
    height: 580px;
    border-radius: 20px;
    padding: 20px;
    width: 600px; 
    box-sizing: border-box;
    border: 1px solid palevioletred;
}

.tituloForm{
    color: palevioletred;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.divForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    align-content: center;
    
}

.labelForm {
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

.inputForm {
    text-decoration: none;
    border: 1px solid palevioletred;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.inputForm:focus {
    border-color: #d87093;
    outline: none;
    border: 2px solid palevioletred;
}

.textoForm {
    margin-bottom: 10px;
    width: 100%;
    color: gray;
    font-size: 0.9em;
    box-sizing: border-box;
}

.divBoton{
    display: flex;
    justify-content: center;
}

.botonForm{
    align-self: center;
    text-align: center;
    height: 40px;
    width: 50%;
    margin-top: 20px;
    border: 2px solid palevioletred;
    border-radius: 20px;
    transition: 0.2;
    cursor: pointer;

}
.botonForm:hover{
    background-color: palevioletred;
    color: whitesmoke;
}

.cartel{
    background-color: rgb(240, 218, 222);
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid palevioletred;
    text-align: justify;
}

.tituloCarteles{
    margin-bottom: 20px;
    margin-top: 10px;
    color: rgb(136, 19, 58);
}

.tratamientos{
    color: rgb(211, 65, 114);
    text-align: justify
}