* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
*::selection{
    background-color: black;
    color: white;
}
.header{
    background: url(/images/card3.png);
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 4px 10px 7px rgba(235, 177, 209, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 60px;
}
.header__logo{
    width: 60px;
    margin: 7px;
    padding: 5px;
    border-radius: 50%;
}

  .contieneturno{
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
  }

  .turno{
    font-size: 15px;
    text-decoration: none;
    color: rgb(153, 49, 84)
  }

  .contieneturno:hover{
    background-color: whitesmoke;
  }
 
    


@media (min-width:768px) {
    .header__containloginmobile{
        display: none;
    }
 
    .header__nav{
        margin-left: 150px;
        display: flex;
        justify-content: space-between;
    }
    .header__navbtn{
        color: rgb(235, 53, 113);
        font-size: 17px;
        text-decoration: none;
        margin-left: 40px;
        
    }

    .header__containlogin {
        display: flex;
        margin-right: -100px;
       
      }
      
      .header_login {

        width: 40px; 
        height: 40px;
        background: url('/images/logonavbarlogin.svg');
        border-radius: 50%;
        cursor: pointer;
        
       
      }
}


